---
const { producto } = Astro.props;
---

<div class="card bg-yellow-200 shadow-xl transition hover:scale-110 ">
  <figure>
    <img src={producto.imagen} alt={producto.nombre} class="h-48 w-72 object-cover mt-5 animate-bounce" />
  </figure>
  <div class="card-body">
    <h2 class="card-title ">{producto.nombre}</h2>
    <p class="text-lg font-semibold">{producto.precio}</p>
    <div class="card-actions justify-end">
      <a href={`/productos/${producto.id}`} class="btn btn-secondary animate-none">Ver más</a>
    </div>
  </div>
</div>
